@import '../../utils/common.scss';

.civil-user {
	&__profile {
		margin-top: em(15);
	}
	&__loader {
		font-size: 4rem;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	&__requests {
		margin: em(20) 0;
	}
	&__no-requests {
		font-weight: 500;
		margin-left: em(15);
	}
}
