@import '../../utils/common.scss';

.heading {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: toRem(20);
	justify-items: center;

	padding-top: toRem(60);
	@media (min-width: $mobileSmall) {
		display: grid;
		grid-template-rows: 2fr 3fr;
		grid-template-columns: 1fr 1fr;
	}
	@media (min-width: $mobile) {
		padding-top: toRem(80);
		gap: toRem(30);
	}
	@media (min-width: $tablet) {
		padding-top: toRem(100);
		gap: toRem(40);
	}

	// .heading__title
	&__title {
		align-self: center;
		text-align: center;
		grid-column: span 2;
		@include adaptiveValue('font-size', 64, 32);
	}

	// .heading__sub-title
	&__sub-title {
		@include adaptiveValue('font-size', 48, 24);
		@media (max-width: $mobileSmall) {
			text-align: center;
		}

		&.orange {
			color: $orangeColor;
		}
		&.blue {
			color: $blueColor;
		}
	}
}

.map-title {
	text-align: center;
	@include adaptiveValue('font-size', 48, 24);
	margin-bottom: em(20, 48);
}

.map-link {
	text-align: center;
	display: block;
	@include adaptiveValue('font-size', 32, 20);
	color: $blueColor;
	@extend %linkHover;
}

.help-map {
	margin-top: toRem(30);
	width: 100%;
	height: 80vh;
}
