@import '../../utils/common.scss';

.accept-request {
	&__request-button {
		width: 100%;
		border-radius: 0 0 em(15) em(15);
	}
	&__form {
		padding: em(15);
		display: flex;
		flex-direction: column;
		gap: em(15);
	}
	&__label {
		font-weight: 500;
	}
	&__error-message {
		color: red;
	}
}
